@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
img{
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Mooli" , san-serif;}


 nav a:link,
 nav a:visited {
    color: var(--accent-color);
  }


body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  margin: 0;
  color: var(--text-dark);
}

header, footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  
}

h1, h2 {
  font-family: var(--secondary-font);
}

a:link, a:visited {
  color: var(--accent-color);
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

img {
  max-width: 100%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

button#menu {
  background: none;
  border: none;
  font-size: 1.2em;
  color: var(--text-light);
  cursor: pointer;
 
}

#menu {
  
    display: none;
    color: var(--text-light);
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 1.2em;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

.coolpics {
    background-color: var(--primary-color);
    color: var(--text-light);
    height: 200px;
    padding: 0px;
}

   

  
  .hide {
    display: none;
    background-color: var(--primary-color);
    height: 200px;
    margin-bottom: 1rem;
  }
  
  .hide a {
    color: var(--text-light);
    text-decoration: none;
    margin-right: 1rem;
  }
  
  .hide a:hover {
    text-decoration: underline;
  }
  
  #menu:hover + nav {
    display: block;
  }

.hide a {
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    color: var(--text-light);
    text-decoration: underline;
    text-decoration-color: white;
  }

@media (min-width: 700px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1000px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
    nav {
      display: block;
    }
    #menu {
      display: none;
    }
  }

  dialog#viewer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 0;
  z-index: 10;
}

dialog#viewer img {
  display: block;
  margin: 20vh auto;
  width: 90%;
  max-height: 100%;
}

button.close-viewer {
  position: absolute;
  top: 20vh;
  right: 10%;
  background: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
