

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

:root {
  --primary-color: #1B98E0;
  --secondary-color: #59c3c3;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Amatic SC", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: white;
  color: var(--text-dark);
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
  
}

header img {
  height: 100px;
  width: 100px;
  
}

header h1 {
  font-family: var(--secondary-font);
  font-size: 5rem;

  color: black;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

form input {
  flex: 1;
  padding: 0.5rem;
 width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}

form button {
height: 40px;
padding: 0.5rem;
width: 100px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1rem;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
}

.recipe-card img {
  max-width: 50%;
  border-radius: 5px;
}

.info {
  margin-top: 1rem;
}

.label {
  background-color: #eee;
  padding: 0.2rem 0.5rem;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}

.rating {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.description {
  display: none;
}


footer {
  display: flex;
  
  text-align: center;
  margin-top: 4rem;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 0.6rem;
  
}

.social img {
  
  width: 30px;
  height: 30px;
}
h2 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--primary-color);
}
.description {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: black;
}

.social {
 margin-left: 640px;
}


@media (min-width: 600px) {
  .recipe-card {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 960px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }

  .description {
    display: block;
  }
}
