@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #473144;
  background-color: #fff;
  margin: 0;
  padding: 0;

}

h1, h2 {
  font-family: 'Lora', serif;
}

.details {
  border-right: 2px solid #EFC69B;
  padding-right: 1rem;
  margin-right: 200px;
}


.content {
  padding-left: 1rem;
    display: block;
  margin: 0 auto;
  justify-items: center;

  
}
.content h2 {
  margin-top: 0;
}
.date {
  font-size: 1.2rem; 
}
.details .date{
  align-items: right;
  margin-right: 500px;
}
.details p {
  margin: 0.2rem 0; 
}

a {
  text-decoration: none;
  color: #AF1B3F;
}

header {
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid #EFC69B;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: end;
  justify-items: end;
  padding: 1rem;
  margin: 0;
  border-top: 2px solid #EFC69B;
  border-bottom: 2px solid #EFC69B;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  max-width: 900px; 
  margin: 2rem auto;
  padding: 1rem;

}

article {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #EFC69B;
  padding-bottom: 1rem;

}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #EFC69B;
}


.skiptocontent a {
  position: absolute;
  top: -40px;
  left: 0;
  background: #AF1B3F;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skiptocontent a:focus {
  top: 0;
}

img {
  max-width: 100%;
  height: 400px;
  
}

.filters {
  justify-items: right;
}


.article {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  margin-bottom: 2rem; 
}


.details {
  text-align: right;
  border-right: 2px solid #EFC69B ;
  padding-right: 1rem;
  margin-right: 1rem;
  line-height: 1.3;
}


.details .date {
  font-size: 1.2rem;
  font-weight: bold;
}
